## Reading data from csv file

In [1]:
import scala.io.Source

val lines = Source.fromFile("Task.csv").getLines().drop(1)
for(line <- lines) {
    val fields = line.split(",").map(_.trim)
    println(fields.mkString(", "))
}

1, John Doe, New York, 60000, Marketing
2, Jane Smith, Los Angeles, 55000, Finance
3, Michael Johnson, Chicago, 62000, HR
4, Sarah Lee, San Francisco, 58000, Engineering
5, David Brown, Houston, 63000, Operations
6, Emily Taylor, Miami, 54000, Sales
7, James Wilson, Dallas, 59000, Marketing
8, Emma Anderson, Seattle, 61000, Finance
9, Matthew Martinez, Boston, 57000, HR
10, Olivia Thomas, Atlanta, 64000, Engineering
11, Liam Garcia, Denver, 53000, Operations
12, Sophia Hernandez, Phoenix, 60000, Sales
13, Alexander Lopez, Philadelphia, 56000, Marketing
14, Mia Gonzalez, Detroit, 62000, Finance
15, Ethan Perez, Minneapolis, 55000, HR
16, Isabella Carter, Portland, 63000, Engineering
17, Mason Torres, Baltimore, 52000, Operations
18, Ava Ramirez, San Diego, 64000, Sales
19, Logan Sanders, Washington, 57000, Marketing
20, Harper King, Birmingham, 61000, Finance
21, Lucas Rivera, Memphis, 59000, HR
22, Evelyn Scott, Nashville, 60000, Engineering
23, Avery Green, Milwaukee, 56000, Operations
24, Lincoln Taylor, Indianapolis, 62000, Sales
25, Sofia Cooper, Louisville, 54000, Marketing
26, Aiden Bennett, Jacksonville, 63000, Finance
27, Madison Flores, Charlotte, 58000, HR
28, Ella Collins, San Jose, 65000, Engineering
29, Chloe Howard, San Antonio, 53000, Operations
30, Carter Hughes, Oklahoma City, 61000, Sales
31, Aria Nelson, Tucson, 57000, Marketing
32, Grayson Baker, Cleveland, 60000, Finance
33, Zoey Morris, Mesa, 55000, HR
34, Nova Ward, Kansas City, 64000, Engineering
35, Hudson James, Virginia Beach, 52000, Operations
36, Leah Watson, Atlanta, 62000, Sales
37, Riley Brooks, Colorado Springs, 54000, Marketing
38, Emery Kelly, Raleigh, 59000, Finance
39, Luke Reed, Omaha, 61000, HR
40, Layla Cooper, Miami, 56000, Engineering
41, Ayden Rivera, Tulsa, 63000, Operations
42, Penelope Coleman, Oakland, 58000, Sales
43, Lincoln Powell, Minneapolis, 65000, Marketing
44, Aubrey Long, Arlington, 60000, Finance
45, Grace Hughes, Bakersfield, 55000, HR
46, Nolan Ward, Tampa, 64000, Engineering
47, Bella Barnes, Honolulu, 52000, Operations
48, Ellie Howard, Anaheim, 62000, Sales
49, Liam Wright, Pittsburgh, 56000, Marketing
50, Emma Evans, Cincinnati, 61000, Finance

import scala.io.Source
lines: Iterator[String] = empty iterator

## Create the case class to represent the entity

In [2]:
case class Employee(id: Int, name: String, country: String, salary: Int, department: String)

defined class Employee

## Add all the records in to List

In [3]:
// Creating representaion of the csv content
val employeeIterator = for{
    line <- Source.fromFile("Task.csv").getLines().drop(1)
    fields = line.split(",").map(_.trim)
} yield Employee(fields(0).toInt, fields(1), fields(2), fields(3).toInt, fields(4))

val employeeList = employeeIterator.toArray

// printing the employees
for{
    employee <- employeeList
} println(employee)

Employee(1,John Doe,New York,60000,Marketing)
Employee(2,Jane Smith,Los Angeles,55000,Finance)
Employee(3,Michael Johnson,Chicago,62000,HR)
Employee(4,Sarah Lee,San Francisco,58000,Engineering)
Employee(5,David Brown,Houston,63000,Operations)
Employee(6,Emily Taylor,Miami,54000,Sales)
Employee(7,James Wilson,Dallas,59000,Marketing)
Employee(8,Emma Anderson,Seattle,61000,Finance)
Employee(9,Matthew Martinez,Boston,57000,HR)
Employee(10,Olivia Thomas,Atlanta,64000,Engineering)
Employee(11,Liam Garcia,Denver,53000,Operations)
Employee(12,Sophia Hernandez,Phoenix,60000,Sales)
Employee(13,Alexander Lopez,Philadelphia,56000,Marketing)
Employee(14,Mia Gonzalez,Detroit,62000,Finance)
Employee(15,Ethan Perez,Minneapolis,55000,HR)
Employee(16,Isabella Carter,Portland,63000,Engineering)
Employee(17,Mason Torres,Baltimore,52000,Operations)
Employee(18,Ava Ramirez,San Diego,64000,Sales)
Employee(19,Logan Sanders,Washington,57000,Marketing)
Employee(20,Harper King,Birmingham,61000,Finance)
Employee(21,Lucas Rivera,Memphis,59000,HR)
Employee(22,Evelyn Scott,Nashville,60000,Engineering)
Employee(23,Avery Green,Milwaukee,56000,Operations)
Employee(24,Lincoln Taylor,Indianapolis,62000,Sales)
Employee(25,Sofia Cooper,Louisville,54000,Marketing)
Employee(26,Aiden Bennett,Jacksonville,63000,Finance)
Employee(27,Madison Flores,Charlotte,58000,HR)
Employee(28,Ella Collins,San Jose,65000,Engineering)
Employee(29,Chloe Howard,San Antonio,53000,Operations)
Employee(30,Carter Hughes,Oklahoma City,61000,Sales)
Employee(31,Aria Nelson,Tucson,57000,Marketing)
Employee(32,Grayson Baker,Cleveland,60000,Finance)
Employee(33,Zoey Morris,Mesa,55000,HR)
Employee(34,Nova Ward,Kansas City,64000,Engineering)
Employee(35,Hudson James,Virginia Beach,52000,Operations)
Employee(36,Leah Watson,Atlanta,62000,Sales)
Employee(37,Riley Brooks,Colorado Springs,54000,Marketing)
Employee(38,Emery Kelly,Raleigh,59000,Finance)
Employee(39,Luke Reed,Omaha,61000,HR)
Employee(40,Layla Cooper,Miami,56000,Engineering)
Employee(41,Ayden Rivera,Tulsa,63000,Operations)
Employee(42,Penelope Coleman,Oakland,58000,Sales)
Employee(43,Lincoln Powell,Minneapolis,65000,Marketing)
Employee(44,Aubrey Long,Arlington,60000,Finance)
Employee(45,Grace Hughes,Bakersfield,55000,HR)
Employee(46,Nolan Ward,Tampa,64000,Engineering)
Employee(47,Bella Barnes,Honolulu,52000,Operations)
Employee(48,Ellie Howard,Anaheim,62000,Sales)
Employee(49,Liam Wright,Pittsburgh,56000,Marketing)
Employee(50,Emma Evans,Cincinnati,61000,Finance)

employeeIterator: Iterator[Employee] = empty iterator
employeeList: Array[Employee] = Array(
  Employee(
    id = 1,
    name = "John Doe",
    country = "New York",
    salary = 60000,
    department = "Marketing"
  ),
  Employee(
    id = 2,
    name = "Jane Smith",
    country = "Los Angeles",
    salary = 55000,
    department = "Finance"
  ),
  Employee(
    id = 3,
    name = "Michael Johnson",
    country = "Chicago",
    salary = 62000,
    department = "HR"
  ),
  Employee(
    id = 4,
    name = "Sarah Lee",
    country = "San Francisco",
    salary = 58000,
    department = "Engineering"
  ),
  Employee(
    id = 5,
    name = "David Brown",
    country = "Houston",
    salary = 63000,
    department = "Operations"
  ),
  Employee(
    id = 6,
    name = "Emily Taylor",
...

## Perform filter operations based on salary and departments

In [4]:
println("Number of employees having a salary greater than 60000: " + employeeList.filter(_.salary >= 60000).length)
println("Employees having a salary greater than 60000:")
for {
    employee <- employeeList.filter(_.salary >= 60000)
} println(employee)

Number of employees having a salary greater than 60000: 25
Employees having a salary greater than 60000:
Employee(1,John Doe,New York,60000,Marketing)
Employee(3,Michael Johnson,Chicago,62000,HR)
Employee(5,David Brown,Houston,63000,Operations)
Employee(8,Emma Anderson,Seattle,61000,Finance)
Employee(10,Olivia Thomas,Atlanta,64000,Engineering)
Employee(12,Sophia Hernandez,Phoenix,60000,Sales)
Employee(14,Mia Gonzalez,Detroit,62000,Finance)
Employee(16,Isabella Carter,Portland,63000,Engineering)
Employee(18,Ava Ramirez,San Diego,64000,Sales)
Employee(20,Harper King,Birmingham,61000,Finance)
Employee(22,Evelyn Scott,Nashville,60000,Engineering)
Employee(24,Lincoln Taylor,Indianapolis,62000,Sales)
Employee(26,Aiden Bennett,Jacksonville,63000,Finance)
Employee(28,Ella Collins,San Jose,65000,Engineering)
Employee(30,Carter Hughes,Oklahoma City,61000,Sales)
Employee(32,Grayson Baker,Cleveland,60000,Finance)
Employee(34,Nova Ward,Kansas City,64000,Engineering)
Employee(36,Leah Watson,Atlanta,62000,Sales)
Employee(39,Luke Reed,Omaha,61000,HR)
Employee(41,Ayden Rivera,Tulsa,63000,Operations)
Employee(43,Lincoln Powell,Minneapolis,65000,Marketing)
Employee(44,Aubrey Long,Arlington,60000,Finance)
Employee(46,Nolan Ward,Tampa,64000,Engineering)
Employee(48,Ellie Howard,Anaheim,62000,Sales)
Employee(50,Emma Evans,Cincinnati,61000,Finance)

In [5]:
println("Number of employees in Marketing department: " + employeeList.filter(_.department.equalsIgnoreCase("Marketing")).length)
println("Employees in Marketing department:")
for {
    employee <- employeeList.filter(_.department.equalsIgnoreCase("Marketing"))
} println(employee)

Number of employees in Marketing department: 9
Employees in Marketing department:
Employee(1,John Doe,New York,60000,Marketing)
Employee(7,James Wilson,Dallas,59000,Marketing)
Employee(13,Alexander Lopez,Philadelphia,56000,Marketing)
Employee(19,Logan Sanders,Washington,57000,Marketing)
Employee(25,Sofia Cooper,Louisville,54000,Marketing)
Employee(31,Aria Nelson,Tucson,57000,Marketing)
Employee(37,Riley Brooks,Colorado Springs,54000,Marketing)
Employee(43,Lincoln Powell,Minneapolis,65000,Marketing)
Employee(49,Liam Wright,Pittsburgh,56000,Marketing)

## Perform map operations to produce formatted report

In [6]:
employeeList.map(emp => println(s"${emp.name} is our employee from ${emp.country} with employee id ${emp.id}, earning ${emp.salary} from ${emp.department} department"))

John Doe is our employee from New York with employee id 1, earning 60000 from Marketing department
Jane Smith is our employee from Los Angeles with employee id 2, earning 55000 from Finance department
Michael Johnson is our employee from Chicago with employee id 3, earning 62000 from HR department
Sarah Lee is our employee from San Francisco with employee id 4, earning 58000 from Engineering department
David Brown is our employee from Houston with employee id 5, earning 63000 from Operations department
Emily Taylor is our employee from Miami with employee id 6, earning 54000 from Sales department
James Wilson is our employee from Dallas with employee id 7, earning 59000 from Marketing department
Emma Anderson is our employee from Seattle with employee id 8, earning 61000 from Finance department
Matthew Martinez is our employee from Boston with employee id 9, earning 57000 from HR department
Olivia Thomas is our employee from Atlanta with employee id 10, earning 64000 from Engineering department
Liam Garcia is our employee from Denver with employee id 11, earning 53000 from Operations department
Sophia Hernandez is our employee from Phoenix with employee id 12, earning 60000 from Sales department
Alexander Lopez is our employee from Philadelphia with employee id 13, earning 56000 from Marketing department
Mia Gonzalez is our employee from Detroit with employee id 14, earning 62000 from Finance department
Ethan Perez is our employee from Minneapolis with employee id 15, earning 55000 from HR department
Isabella Carter is our employee from Portland with employee id 16, earning 63000 from Engineering department
Mason Torres is our employee from Baltimore with employee id 17, earning 52000 from Operations department
Ava Ramirez is our employee from San Diego with employee id 18, earning 64000 from Sales department
Logan Sanders is our employee from Washington with employee id 19, earning 57000 from Marketing department
Harper King is our employee from Birmingham with employee id 20, earning 61000 from Finance department
Lucas Rivera is our employee from Memphis with employee id 21, earning 59000 from HR department
Evelyn Scott is our employee from Nashville with employee id 22, earning 60000 from Engineering department
Avery Green is our employee from Milwaukee with employee id 23, earning 56000 from Operations department
Lincoln Taylor is our employee from Indianapolis with employee id 24, earning 62000 from Sales department
Sofia Cooper is our employee from Louisville with employee id 25, earning 54000 from Marketing department
Aiden Bennett is our employee from Jacksonville with employee id 26, earning 63000 from Finance department
Madison Flores is our employee from Charlotte with employee id 27, earning 58000 from HR department
Ella Collins is our employee from San Jose with employee id 28, earning 65000 from Engineering department
Chloe Howard is our employee from San Antonio with employee id 29, earning 53000 from Operations department
Carter Hughes is our employee from Oklahoma City with employee id 30, earning 61000 from Sales department
Aria Nelson is our employee from Tucson with employee id 31, earning 57000 from Marketing department
Grayson Baker is our employee from Cleveland with employee id 32, earning 60000 from Finance department
Zoey Morris is our employee from Mesa with employee id 33, earning 55000 from HR department
Nova Ward is our employee from Kansas City with employee id 34, earning 64000 from Engineering department
Hudson James is our employee from Virginia Beach with employee id 35, earning 52000 from Operations department
Leah Watson is our employee from Atlanta with employee id 36, earning 62000 from Sales department
Riley Brooks is our employee from Colorado Springs with employee id 37, earning 54000 from Marketing department
Emery Kelly is our employee from Raleigh with employee id 38, earning 59000 from Finance department
Luke Reed is our employee from Omaha with employee id 39, earning 61000 from HR department
Layla Cooper is our employee from Miami with employee id 40, earning 56000 from Engineering department
Ayden Rivera is our employee from Tulsa with employee id 41, earning 63000 from Operations department
Penelope Coleman is our employee from Oakland with employee id 42, earning 58000 from Sales department
Lincoln Powell is our employee from Minneapolis with employee id 43, earning 65000 from Marketing department
Aubrey Long is our employee from Arlington with employee id 44, earning 60000 from Finance department
Grace Hughes is our employee from Bakersfield with employee id 45, earning 55000 from HR department
Nolan Ward is our employee from Tampa with employee id 46, earning 64000 from Engineering department
Bella Barnes is our employee from Honolulu with employee id 47, earning 52000 from Operations department
Ellie Howard is our employee from Anaheim with employee id 48, earning 62000 from Sales department
Liam Wright is our employee from Pittsburgh with employee id 49, earning 56000 from Marketing department
Emma Evans is our employee from Cincinnati with employee id 50, earning 61000 from Finance department

res6: Array[Unit] = Array(
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
  (),
...

## Perform reduce operation to find total salary, average salary, number of employees department wise

In [11]:
// Total salary
println(s"Total salary of all the employees: ${employeeList.map(_.salary).sum}")

// Average salary
val result = employeeList.map(emp => (emp.salary, 1)).reduce((a, b) => (a._1 + b._1, a._2 + b._2))
println(s"Average salary of all the employees: ${result._1/result._2}")

// number of employees department wise
println("=================================")
employeeList.groupBy(_.department).map{ case (department, list) => println(s"$department has ${list.length} number of employees")}

println("=================================")
employeeList.groupBy(_.department).map{ case (department, list) => println(s"$department has ${list.map(_.salary).sum} total salary")}

println("=================================")
employeeList.groupBy(_.department).map{ case (department, list) => {
    var result = list.map(emp => (emp.salary, 1)).reduce((a, b) => (a._1 + b._1, a._2 + b._2))
    println(s"$department has ${result._1/result._2} average salary")
}}

Total salary of all the employees: 2943000
Average salary of all the employees: 58860
=================================
Engineering has 8 number of employees
Operations has 8 number of employees
Sales has 8 number of employees
Marketing has 9 number of employees
HR has 8 number of employees
Finance has 9 number of employees
=================================
Engineering has 494000 total salary
Operations has 444000 total salary
Sales has 483000 total salary
Marketing has 518000 total salary
HR has 462000 total salary
Finance has 542000 total salary
=================================
Engineering has 61750 average salary
Operations has 55500 average salary
Sales has 60375 average salary
Marketing has 57555 average salary
HR has 57750 average salary
Finance has 60222 average salary

result: (Int, Int) = (2943000, 50)
res11_4: collection.immutable.Iterable[Unit] = List((), (), (), (), (), ())
res11_6: collection.immutable.Iterable[Unit] = List((), (), (), (), (), ())
res11_8: collection.immutable.Iterable[Unit] = List((), (), (), (), (), ())